API_KEY='ENTER YOUR API KEY'
DEBUG=True
DATABASE_NAME='YOUR DATABASE NAME'
DATABASE_USER='YOUR DATABASE USERNAME'
DATABASE_PASSWORD='YOUR DATABASE PASSWORD'
DATABASE_HOST='YOUR DATABASE HOST'
DATABASE_PORT='YOUR DATABASE PORT'